parameters:
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/

    excludePaths:
        # UVdesk files
        - src/Console/
        - src/Controller/BaseController.php
        - src/Controller/ConfigureHelpdesk.php
        - src/EventListener/ExceptionSubscriber.php
        - src/Routing/RoutingResource.php

    ignoreErrors:
        - '#Method .+ has parameter .+ with no value type specified in iterable type array#'
        - '#Method .+ return type has no value type specified in iterable type array.#'

    checkGenericClassInNonGenericObjectType: false


# Local Variables:
# mode: yaml
# End:
